.cnt-summon-list, .cnt-weapon-list {
  display: inline-block;
  float: left;
}

.cnt-index {
  width: auto;
  padding: 0;
}

.cnt-weapon-main .prt-evolution-star-s {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 10;
}

.prt-deck-select .lis-deck .prt-supporter {
  background-size: 720px 1173px;
  width: 720px;
}

.prt-deck-select .lis-deck .prt-supporter .prt-supporter-info .prt-supporter-detail {
  width: auto;
}

.lis-deck {
  width: 640px;
}

.cnt-weapon-sub .prt-evolution-star-s {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.prt-deck-select {
  width: auto;
  height: auto;
  background: transparent;
}


.cnt-summon-main .prt-evolution-star-s {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 10;
}


.cnt-summon-sub .prt-evolution-star-s {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}



.list-item img {
  width: 50px;
}

.modal-body {
  max-height: 300px;
  overflow-y: scroll;
}

.emulator {
  text-align: center
  color: #ff5d25;
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f;
}

.emulator .operator {
  font-size: 10px;
}